body{font-family:'Montserrat', sans-serif;}

.evenrow{background-color:#f5f5f5;}

h1, h2{
    color:#F7EA00;
}

h1{font-size: 2em;}

h2{font-size: 1.7em;}

body{
    background-color: #f5f5f5;
}

nav{
    background-color: #F7EA00;
    padding: 15px;
    margin-bottom: 30px;
}
nav a{color:darkblue}

nav a:hover{background-color: #9EDE73;}

nav{margin-bottom: 30px;}

@media only screen and (max-width: 600px) {
    nav a{display: block;}
    nav a{width:100%;}
    span{display: none;}
    body{background-color: aliceblue;}
}


