body{background-color:#86732e;
    color:black;
    font-family: 'Itim', cursive;
    margin-left: 40px;
    margin-right: 40px;}

a  {
    display: none;
}

h1,h2,h3 { color:#7be06dd8;}
h1{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4em;
    padding:20px;
    text-align: center;
 }

h2{font-size: 1.5em;}

h3{font-size:1.2em;}

nav {
    background-color:#20d346d8;;
    padding: 15px;
    margin-bottom: 40px;
}

nav a {
    color: White;
    text-decoration: none;
    display:inline-block;
}

.img1{width: 70%;
display: block;
margin-left: auto;
margin-right: auto;}
nav a:hover{
    background-color:rgb(177, 150, 0);
}
.img2,.img3,.img4{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    nav a {width: 100%;
    display: block;}
    nav span{display:none;}
    body {background-color:#EAE7DC ;}
    h1{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    }